//layaout.jade
extends layaout
block content
	section
		.container-fluid.top
			.row
				.col-md-3
					.tarjeta.colorRed
				.col-md-3
					.tarjeta.colorGreen
				.col-md-3
					.tarjeta.colorYellow
				.col-md-3
					.tarjeta.colorBlue